* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to top,#00005a,#01015a,#01016d,#0101b1,#0303f8);
  overflow: hidden; /* remove rolagem lateral e vertical */
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto 0;
  max-width: 98%;
  height: 70px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 20px;
}

.logo {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
  color: rgb(4, 4, 114);
}

a:hover {
  color: rgb(255, 255, 255);
}

.header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background-color: aliceblue;
}

.header nav ul li {
  margin-left: 20px;
}

/* Botão hambúrguer */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px 0;
  border-radius: 2px;
  transition: 0.3s;
}

/* Responsividade */
@media (max-width: 768px) {
  .header nav ul {
    position: absolute;
    top: 70px;
    right: 0;
    background: rgba(0,0,0,0.8);
    flex-direction: column;
    width: 200px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }

  .header nav ul.show {
    height: 250px;
  }

  .header nav ul li {
    margin: 15px 0;
    text-align: center;
  }

  .hamburger {
    display: flex;
  }
}

/* Main */
.main {
  margin: 15px auto;
  height: calc(100vh - 115px); /* ajusta dinamicamente abaixo do header */
  max-width: 98%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
  color: white;
  overflow: hidden;
}


.promo-card {
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #4e54c8, #8f94fb);
  border-radius: 12px;
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  color: #fff;
}

.promo-img {
  width: 150px;
  border-radius: 8px;
  margin-right: 20px;
}

.promo-content h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
}

.promo-content p {
  margin: 0 0 15px;
  font-size: 1em;
}

.promo-btn {
  background-color: #ffcc00;
  color: #000;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.promo-btn:hover {
  background-color: #ffd633;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 10px);
  grid-gap: 5px;
  cursor: pointer;
  align-items: end;
  justify-content: end;
}

.menu-grid span {
  width: 10px;
  height: 10px;
  background: #333;
  border-radius: 50%;
  display: block;
}
